<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% if (messages.name) { %>
		<%- messages.name %>
		<% } %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/Profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <script src="js/nav.js"></script>
    <script
      src="https://kit.fontawesome.com/26b935012c.js"
      crossorigin="anonymous"
    ></script>
    <style>
      /* .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      } */
    </style>
  </head>
  <body>
    <header class="topnav" id="myTopnav">
      <span >WhoozeInIt?</span>
      <a class="signup" href="Friends.html">Friends</a>
      <a class="login" href="Courses.html">Home</a>
      <a href="javascript:void(0);" class="icon" onclick="expandNav()">
          <i class="fa fa-bars"></i>
      </a>
  </header>
    <!-- <div class="text-center">
    <h2 class="h4 mb-4 mt-4"> Updating Details</h2>
  </div> -->

    <ul
      class="nav nav-tabs justify-content-center flex-column flex-md-row mt-2"
    >
      <li class="nav-item"><a class="nav-link active" href="#personal" data-toggle="tab" role="tab">Personal</a></li>
      <li class="nav-item"><a class="nav-link" href="#educational" data-toggle="tab" role="tab">Educational</a></li>
      <li class="nav-item"><a class="nav-link" href="#courses" data-toggle="tab" role="tab">Courses</a> </li>
</ul>


    <div class="tab-content">
      <div class="tab-pane active" id="personal" role="tabpanel">
        <div class="box container d-flex justify-content-center mx-auto">
          <div class="justify-content-center">
            <div class="col">
              <!-- <div class="card text-center" style="min-width: 23rem; max-width: 23rem;"> -->
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 mb-3 mt-1">Personal Details</h1>
                  <!-- <p>
                  Please enter your registered school email and we will send you
                  further instructions.
                  </p> -->

                  <!-- <div class="card-header text-center">Can't remember your password ?</div> -->
                  <!-- <div class="card-body"> -->
                    <form>
                      <div class="form-row mt-4 mb-4">
                        <label for="Full Name" class="mb-3">Full Name:<% if (messages.name) { %>
									      <%- messages.name %>
									      <% } %></label>
                        <!-- <input
                          type="text"
                          class="form-control"
                          id="Full Name"
                          placeholder=""
                        /> -->
                      </div>
                      <div class="form-row mt-1 mb-4">
                        <label for="Email" class="mb-1">Email:<% if (messages.email) { %>
									      <%- messages.email %>
									      <% } %></label>
                        <!-- <input
                          type="email"
                          class="form-control"
                          id="Email"
                          placeholder=""
                        /> -->
                      </div>
                    </form>


                      <div class="row mt-1 mb-4">
                        <div class="col text-center">
                          <!-- <button type="submit" class="btn btn-success btn-large"> -->
                          <!-- <button
                            type="button"
                            class="btn btn-primary btn-user btn-block"
                          >
                            Save
                          </button>  -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="tab-pane" id="educational" role="tabpanel">
        <div class="box container d-flex justify-content-center mx-auto">
          <div class="justify-content-center">
            <div class="col">
              <!-- <div class="card text-center" style="min-width: 23rem; max-width: 23rem;"> -->
              <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 mb-1 mt-4">Educational Details</h1>
                  <!-- <p>
                  Please enter your registered school email and we will send you
                  further instructions.
                  </p> -->

                  <!-- <div class="card-header text-center">Can't remember your password ?</div> -->
                  <div class="card-body">
                    <form>
                      <div class="form-row mt-1 mb-3">
                        <label for="ClassStanding" class="mb-2">Class Standing:<% if (messages.standing) { %>
									      <%- messages.standing %>
									      <% } %></label>
                        <!-- <input
                          type="text"
                          class="form-control"
                          id="ClassStanding"
                          placeholder=""
                        /> -->
                      </div>
                      <div class="form-row mt-1 mb-4">
                        <label for="Major" class="mb-2">Major:<% if (messages.major) { %>
									      <%- messages.major %>
									      <% } %></label>
                        <!-- <input
                          type="text"
                          class="form-control"
                          id="Major"
                          placeholder=""
                        /> -->
                      </div>

                      <div class="row">
                        <div class="col text-center">
                          <!-- <button type="submit" class="btn btn-success btn-large">
                          <button
                            type="button"
                            class="btn btn-primary btn-user btn-block"
                          >
                            Save
                          </button> -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="courses" role="tabpanel">
        <div class="box container d-flex justify-content-center mx-auto" >
          <div class="justify-content-center">
            <div class="col">
              <!-- <div class="card text-center" > -->
              <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 mb-1 mt-4">Courses</h1>
                  <!-- <p>
                  Please enter your registered school email and we will send you
                  further instructions.
                  </p> -->

                  <!-- <div class="card-header text-center">Can't remember your password ?</div> -->
                  <div class="card-body">
                    <!-- <form>
                      <div class="form-row mt-1 mb-3">
                        <label for="CPassword" class="mb-2">Current Password:</label>
                        <input
                          type="password"
                          class="form-control"
                          id="CPassword"
                          placeholder=""
                        />
                      </div>
                      <div class="form-row mt-1 mb-4">
                        <label for="NPassword" class="mb-2">New Password:</label>
                        <input
                          type="password"
                          class="form-control"
                          id="NPassword"
                          placeholder=""
                        />
                      </div>

                      <div class="row">
                        <div class="col text-center">
                           <button type="submit" class="btn btn-success btn-large">
                          <button
                            type="button"
                            class="btn btn-primary btn-user btn-block"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </form> -->
										<table id="options">
											<thead>
												<tr id="heading">
													<th id="class">Class</th>
													<th id="title">Title</th>
													<th id="sec">Section</th>
												</tr>
											</thead>
											<tbody id="optionsBody">
												<% for(var i = 0; i < data.length; i++){%>
													<tr>
														<td><%= data[i].classid %></td>
														<td><%= data[i].title %></td>
														<td><%= data[i].section %></td>
													</tr>
												<%}%>
											</tbody>
										</table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


 </div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
